<footer>
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <ul class="inline-list">
          <li><a href="https://github.com/DarkmatterVale/regex4dummies">Repository</a></li>
          <li><a href="/">Documentation</a></li>
          <li><a href="/">Status</a></li>
          <li><a href="/">Releases</a></li>
        </ul>
      </div>
      
      <div class="one-half column text-right">
        <ul class="inline-list">
          <li><a href="/">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
