<header>
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="four columns">
          <ul class="navigation inline-list">
            <li>Built on NLTK and Pattern</li>
          </ul>
        </div>

        <div class="eight columns text-right">
          <ul class="navigation inline-list">
            <li><a href="">Documentation</a></li>
            <li><a href="">Status</a></li>
            <li><a href="">Repository</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
