<head>
  <link rel='stylesheet' href='{{ site.url }}/css/normalize.css'>
  <link rel='stylesheet' href='{{ site.url }}/css/skeleton.css'>
  <link rel='stylesheet' href='{{ site.url }}/css/main.css'>
  <script src="{{ site.url }}/lib/underscore-min.js"></script>
  <script src="{{ site.url }}/lib/github.js"></script>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="{{ site.url }}/scripts/track_issues.js"></script>
</head>
